.slick {
    &-arrow {
        border: 0;
        background-color: transparent;
        font-size: 0;
        color: $gray-900;
        opacity: 0.75;
        position: absolute;
        bottom: 0;
        z-index: 10;
        @include media-breakpoint-up(lg) {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }
        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }
        &::before {
            display: inline-block;
            line-height: 1;
            font-family: "FontAwesome";
            @include font-size(2.5rem);
        }
    }
    &-prev {
        //    left: calc(50% - 15px);
        right: 50%;
        @include media-breakpoint-up(lg) {
            left: 0;
            right: auto;
        }
        &::before {
            content: "\f104";
        }
    }
    &-next {
        left: 50%;
        @include media-breakpoint-up(lg) {
            right: 0;
            left: auto;
        }
        &::before {
            content: "\f105";
        }
    }
    &-dots {
        list-style: none;
        padding-left: 0;
        li {
            padding: 0.3125rem 0;
            margin: 0.1875rem 0;
            cursor: pointer;
            transition: all 0.2s;
            &.slick-active {
                button {
                    background-color: $primary;
                    width: 2.1875rem;
                }
            }
            button {
                text-indent: -9999px;
                display: block;
                border: 0;
                width: 15px;
                height: 1px;
                background-color: $secondary;
                transition: all .2s;
            }
        }
    }
}
