.banner {
    &-item {
        background-attachment: fixed;
        min-height: 100vh;
        align-items: center;
        display: flex !important;
        padding: 6rem 4rem;

        @include media-breakpoint-up(lg) {
            padding: 6rem;
        }
        @include media-breakpoint-up(xxl) {
            padding: 8rem;
        }
        .container {
            display: flex;
            justify-content: center;
        }
    }
    &-slider {
        &.slick-slider {
            padding: 0;
        }
        .slick {
            &-dots {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                @include media-breakpoint-up(lg) {
                    left: 20px;
                }
                @include media-breakpoint-up(xxl) {
                    left: 30px;
                }
                li {
                    display: block;
                    button {
                        background-color: $white;
                    }
                }
            }
            &-arrow {
                top: 50%;
                transform: translateY(-50%);
                color: $white;
                z-index: 50;
                bottom: auto;
                &::before {
                    display: inline-block;
                    @include font-size(1.5625rem);
                }
                &:hover {
                    color: $primary;
                }
            }
            &-prev {
                right: auto;
                left: calc(100% - 60px);
                @include media-breakpoint-up(lg) {
                    left: calc(100% - 80px);
                }
                @include media-breakpoint-up(xxl) {
                    left: calc(100% - 120px);
                }
                &::before {
                    transform: rotate(-45deg);
                }
            }
            &-next {
                left: calc(100% - 30px);
                @include media-breakpoint-up(lg) {
                    left: calc(100% - 40px);
                }
                @include media-breakpoint-up(xxl) {
                    left: calc(100% - 60px);
                }
                right: auto;
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
    }
    &-caption {
        position: absolute;
        top: 35%;
        left: 60%;

        @include media-breakpoint-up(md) {
            left: 67%;
        }
        span {
            position: relative;
            text-transform: uppercase;
            font-family: $font-poppins;
            letter-spacing: 3px;
            color: $white;
            display: inline-block;
            padding-left: 3.125rem;
            @include font-size(0.5rem);
            @include media-breakpoint-up(lg) {
                padding-left: 5rem;
                @include font-size(0.625rem);
                letter-spacing: 5px;
            }
            @include media-breakpoint-up(xxl) {
                @include font-size(0.75rem);
                padding-left: 6.25rem;
                letter-spacing: 7px;
            }
            &::before {
                content: "";
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $white;
                width: 25px;
                @include media-breakpoint-up(lg) {
                    width: 55px;
                }
            }
        }
    }
}
.inner-banner {
    position: relative;
    z-index: 0;
    min-height: 25rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5rem 0 2rem;
    @include media-breakpoint-up(lg) {
        padding: 6rem 0 3rem;
        min-height: 31.25rem;
    }
    @include media-breakpoint-up(xxl) {
        padding: 7rem 0 3rem;
        min-height: 40.3125rem;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.3);
        z-index: -1;
    }
    .container {
        max-width: 37.5rem;
        margin: 0 auto;
    }
    &__content {
        font-family: $font-playfair;
        color: $gray-600;
        margin-bottom: 0.9375rem;
        @include font-size(1.125rem);
        letter-spacing: 2px;
        @include media-breakpoint-up(md) {
            @include font-size(1.25rem);
        }
        @include media-breakpoint-up(xl) {
            @include font-size(1.5rem);
        }
    }

    h1 {
        font-family: cursive;
        color: #fff;
        small {
            @include font-size(0.875rem);
            display: block;
            color: #cc9933;
            text-transform: uppercase;
            font-family: $font-poppins;
            font-weight: 600;
            margin-bottom: 0.625rem;
            @include media-breakpoint-up(md) {
                margin-bottom: 0.9375rem;
            }
            @include media-breakpoint-up(xl) {
                letter-spacing: 2px;
                margin-bottom: 1.25rem;
            }
        }
    }
}
