.info-banner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background-attachment: fixed;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(10, 12, 16, 0.5);
        z-index: -1;
    }

    &__content {
        font-family: $font-playfair;
        letter-spacing: 2px;
        color: $white;
        line-height: 1;
        @include media-breakpoint-down(sm) {
            letter-spacing: 0;
        }

        span {
            @include font-size(3.75rem);
        }
        h2 {
            margin-top: 5px;
            color: $white;
        }
        small {
            @include font-size(1.5rem);
            display: block;
        }
    }
}
