.product {
  &-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    @include media-breakpoint-up(xl) {
      margin: 0 -15px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 1.875rem;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      margin-bottom: 1.25rem;
    }

    .col {
      &-nav,
      &-for {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 8px;
        @include media-breakpoint-up(xl) {
          padding: 0 15px;
        }
      }
      &-nav {
        @include media-breakpoint-up(md) {
          flex: 0 0 15%;
          max-width: 15%;
        }
        @include media-breakpoint-up(lg) {
          flex: 0 0 22%;
          max-width: 22%;
        }

        @include media-breakpoint-up(xxl) {
          flex: 0 0 17%;
          max-width: 17%;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 1.25rem;
        }
        @include media-breakpoint-down(xs) {
          margin-top: 0.9375rem;
        }
        .slick {
          &-list {
            @include media-breakpoint-down(sm) {
              margin: 0 -5px;
            }
          }
          &-track {
            @include media-breakpoint-down(sm) {
              display: flex;
            }
          }
        }
      }
      &-for {
        @include media-breakpoint-up(md) {
          flex: 0 0 85%;
          max-width: 85%;
        }
        @include media-breakpoint-up(lg) {
          flex: 0 0 78%;
          max-width: 78%;
        }

        @include media-breakpoint-up(xxl) {
          flex: 0 0 83%;
          max-width: 83%;
        }
      }
    }
    &-for {
      img {
        width: 100%;
      }
    }
  }
  &-nav {
    padding: 0 0.3125rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 0.625rem;
    }
  }
  .block-title {
    h2 {
      color: $black;
    }
    br {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &-content {
    @include font-size(0.875rem);
    span {
      font-weight: 600;
      font-family: $font-poppins;
      display: block;
      &.price {
        color: $yellow;
        @include font-size(1.875rem);
        line-height: 1;
      }
      &.title {
        @include font-size(0.875rem);
      }
    }
  }
  &-cart {
    display: inline-flex;
    input {
      height: auto;
      border: 2px solid $gray-400;
      padding: 12.5px 15px;
      margin-right: 15px;
      max-width: 7.5rem;
      @include media-breakpoint-up(md) {
        max-width: 10rem;
      }
      @include media-breakpoint-up(xl) {
        max-width: 12.4375rem;
      }
      &:focus-visible {
        outline: 0;
      }
    }
    .btn {
      padding: 1.1rem 2rem;
      @include media-breakpoint-up(xl) {
        min-width: 10.6875rem;
      }
    }
  }
}

.feedback {
  .nav {
    border-color: transparent;
    &-link {
      background-color: $light-gray-300;
      margin-right: 2px;
      border-radius: 0;
      @include font-size(0.625rem);
      font-family: $font-poppins;
      text-transform: uppercase;
      color: $gray-900;
      font-weight: 600;
      letter-spacing: 1px;
      border: 0;
      &.active {
        border-color: transparent;
        color: $gray-50;
        background-color: $white;
      }
      &:hover {
        background-color: $white;
      }
    }
  }
  .tab {
    &-content {
      @include font-size(0.875rem);
      font-weight: 700;
      font-family: $font-montsearrt;
      text-transform: uppercase;
      background-color: $white;
      padding: 1.5625rem 0.9375rem;
      @include media-breakpoint-up(sm) {
        padding: 2.5rem 1.875rem;
      }
      @include media-breakpoint-up(lg) {
        padding: 3.125rem 2.5rem;
      }
      @include media-breakpoint-up(xxl) {
        padding: 3.75rem 5.75rem 4.6875rem 4.5rem;
      }
      p {
        margin-bottom: 1.25rem;
        @include media-breakpoint-up(lg) {
          margin-bottom: 1.875rem;
        }
        @include media-breakpoint-up(xxl) {
          margin-bottom: 2.75rem;
        }
      }
    }
  }
  .form {
    &-group {
      label {
        @include font-size(0.75rem);
        line-height: 1;
        font-weight: 700;
        font-family: $font-montsearrt;
        text-transform: uppercase;
        color: $black;
        margin: 0 0 0.75rem;
      }
    }
    &-control {
      border: 2px solid $gray-400;
      border-radius: 0;
      height: 100px;
      @include media-breakpoint-up(md) {
        height: 174px;
      }
    }
  }
}

.card-slider {
  &.bg-dark {
    background-color: $black-600;
  }
  .slick {
    &-dots {
      display: none !important;
    }
    &-arrow {
      color: $white;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
      transition: all 0.3s;
      padding: 10px;
      @include media-breakpoint-up(md) {
        padding: 15px;
      }
      @include media-breakpoint-up(xl) {
        padding: 20px;
      }
      &::before{
        @include media-breakpoint-down(md){
          @include font-size(1.875rem);
        }
      }
      &:hover {
        color: $yellow;
      }
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
      left: auto;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
    }
  }
  h5 {
    @include font-size(1.125rem);
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.875rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1.125rem;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.5rem;
    }
  }
  .product-card {
    margin: 3px;
  }
}
