.banner {
    &-item {
        background-attachment: fixed;
        min-height: 850px;
        padding: 8rem 0;
        display: flex;
        align-items: center;
        .container {
            display: flex;
            justify-content: center;
        }
    }
    &-slider {
        &.slick-slider {
            padding: 0;
        }
        .slick {
            &-dots {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 30px;
                li {
                    display: block;
                    margin: 1rem 0;
                    background-color: $white;
                }
            }
            &-arrow {
                top: 50%;
                transform: translateY(-50%);
                color: $white;
                z-index: 50;
                &::before {
                    display: inline-block;
                    @include font-size(1.5625rem);
                }
                &:hover{
                    color: $primary;
                }
            }
            &-prev {
                left: calc(100% - 120px);
                right: auto;
                &::before {
                    transform: rotate(-45deg);
                }
            }
            &-next {
                left: calc(100% - 80px);
                right: auto;
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
    }
    &-caption {
        position: absolute;
        top: 36%;
        left: 62%;
        span {
            position: relative;
            @include font-size(0.75rem);
            text-transform: uppercase;
            font-family: $font-poppins;
            letter-spacing: 3px;
            padding-left: 3.75rem;
            color: $white;
            display: inline-block;
            &::before {
                content: "";
                width: 30px;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $white;
            }
        }
    }
}
