.block-title {
    span {
        display: block;
        color: $yellow-dim;
        line-height: 1.2;
        font-family: cursive;
        font-weight: 500;
        text-transform: none;
        @include font-size(2.25rem);

        @include media-breakpoint-up(md) {
            @include font-size(2.75rem);
        }
        @include media-breakpoint-up(xl) {
            @include font-size(3.5rem);
        }
    }
    h2 {
        text-transform: uppercase;
        font-family: $font-poppins;
        font-weight: 600;
        @include media-breakpoint-down(xs) {
            @include font-size(1.5625rem);
        }
    }
}
