

.testimonial {
    &.container{
        max-width: 1080px;
    }
    &-item {
        text-align: center;
        q{
            @include font-size(1.5rem);
            font-family: $font-playfair;
            line-height: 1.2;
        }
        span{
            font-family: $font-playfair; 
            @include font-size(4.4375rem);
            line-height: 0.42;
            display: block;
        }
        strong{
            font-style: normal;
            font-weight: 600;
            @include font-size(0.75rem);
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: $font-poppins;
            display: block;
        }
    }
}