.btn {
    font-family: $font-poppins;
    background-color: $yellow;
    text-decoration: none;
    @include font-size(0.75rem);
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    padding: 0.75rem 1.2rem;
    @include media-breakpoint-up(lg) {
        letter-spacing: 1px;
        padding: 1rem 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 1rem 2rem;
        letter-spacing: 2px;
    }
    &-primary {
        min-width: 7.5rem;
        @include media-breakpoint-up(sm) {
            min-width: 9.375rem;
        }
        @include media-breakpoint-up(lg) {
            min-width: 11.25rem;
        }
        @include media-breakpoint-up(xxl) {
            min-width: 14.125rem;
        }
        &:hover {
            background-color: $yellow-dark;
            color: $black;
        }
        &--alt {
            letter-spacing: 1px;
            background-color: transparent;
            border: 2px solid $yellow;
            color: $yellow;
            @include media-breakpoint-up(md) {
                letter-spacing: 2px;
            }
            @include media-breakpoint-up(xl) {
                letter-spacing: 5px;
            }

            &:hover {
                border-color: $yellow;
                background-color: $yellow;
                color: $white;
            }
        }
    }
    &-secondary {
        padding: 0.625rem 1.25rem;
        background-color: transparent;
        @include font-size(0.875rem);
        letter-spacing: 1px;
        color: $gray-900;
        border-left: 4px solid $black-100;

        @include media-breakpoint-up(xl) {
            padding: 0.875rem 1.5625rem;
        }

        &:hover {
            color: $yellow;
            border-color: $yellow;
            background-color: transparent;
        }
        &--white {
            color: $white;
            border-color: $white;
            letter-spacing: 0;
        }
    }
    &-tertiary {
        background-color: transparent;
        @include font-size(0.875rem);
        letter-spacing: 1px;
        color: rgba($white, 0.7);
        border: 2px solid rgba($white, 0.7);
        padding: 0.625rem 1.25rem;
        @include media-breakpoint-up(xl) {
            padding: 1rem 1.375rem;
        }
        &:hover {
            color: $white;
            border-color: $white;
        }
        &--alt {
            border: none;
            border-bottom: 4px solid $white;
            @include media-breakpoint-up(xl) {
                padding: 0.875rem 1.5625rem;
            }
            &:hover {
                color: $yellow;
                border-color: $yellow;
            }
        }
    }
}
