<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>info-banner</title>
</head>

<body>
    <aside class="info-banner text-center bg-cover py-xxl-9 py-lg-5 py-sm-3 py-2"
        style="background-image: url(assets/images/specialty-parra-img.jpg);">
        <div class="container">
            <div class="block-title info-banner__content pb-1">
                <span>La creme de la creme</span>
                <h2 class="mb-1">today’s specialty</h2>
                <p>Oven Roasted duck with special sousage</p>
                <small>$25.00</small>
                <a href="#" class="btn btn-tertiary btn-tertiary--alt mt-xl-4 mt-md-2 mt-1 ">Read More</a>
            </div><!-- /.info-banner__content -->
        </div>
    </aside><!-- /.info-banner -->
</body>

</html>