<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Nav Tag</title>
</head>
<body>
    <div class="nav-tag pt-4 pb-9 text-center">
      <h2 class="mt-1 mb-6"><span class="mb-1">Restaurant</span>Menu</h2>
      <ul class="nav flex-column">
        <li class="nav-item mt-2">
          <a class="nav-link active" href="#">All</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Starters</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Main</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Dessert</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Drinks</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Daily Menu</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">Chef's specialty</a>
        </li>
        <li class="nav-item mt-2 mb-1">
          <a class="nav-link" href="#">Offers</a>
        </li>
      </ul>
    </div>
    
    <!-- /.nav-tag -->
</body>
</html>