.cart-pg {
    .table-responsive {
        margin-bottom: 1.875rem;
        @include media-breakpoint-down(md) {
            border: 1px solid $gray-51;
        }
    }
    .cart {
        &-header {
            margin-bottom: 1.5625rem;

            h2 {
                font-weight: 600;
                @include font-size(2.25rem);
                font-family: $font-open-sans;
            }
        }
        &-item {
            padding-top: 1.875rem;
            padding-bottom: 1.875rem;
            &:first-child {
                td {
                    border-top: 0;
                }
            }
        }
        &-table {
            margin: 0 -1px 0 0;
            text-align: left;
            width: 100%;
            background-color: $white;
            border: 0;
            border-radius: 0;
            @include media-breakpoint-down(md) {
                width: 730px;
            }

            thead {
                color: $white;
                text-transform: uppercase;
                @include font-size(0.75rem);
                border-radius: 0;
            }
            th {
                padding: 0.75rem 1.25rem;
                background-color: $light-gray-900;
                color: $black;
                font-weight: 700;
                @include font-size(0.875rem);
                padding-top: 1.875rem;
                height: 5.625rem;
                border-bottom: 2px solid $gray-51;
                border-top: 0;
            }
            td {
                border-top: 2px solid $gray-51;
                padding: 25px;
            }
            td,
            th {
                vertical-align: middle;
            }

            img {
                height: auto;
            }
            .product {
                font-weight: 700;
                clear: left;
                &-price,
                &-quantity,
                &-subtotal {
                    text-align: end;
                    padding-left: 0.9375rem;
                    padding-right: 2.1875rem;
                }
                &-remove {
                    width: 60px;
                    text-align: center;
                    .remove {
                        color: $white;
                        border-radius: 100%;
                        display: inline-block;
                        position: relative;
                        margin: 0 auto;
                        width: 1.75rem;
                        height: 1.75rem;
                        line-height: 2;
                        background: $light-pink;
                        @include font-size(0.875rem);
                        transform: rotate(45deg);
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 12px;
                            height: 2px;
                            background-color: $white;
                            margin: -1px 0 0 -6px;
                        }
                        &::after {
                            transform: rotate(90deg);
                        }
                        &:hover {
                            background-color: $red;
                        }
                    }
                }
                &-thumbnail {
                    min-width: 2rem;
                    width: 4.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    img {
                        width: 4.5rem;
                        box-shadow: none;
                        border: 3px solid $light-gray-800;
                    }
                }
                &-name {
                    a {
                        color: $black;
                        text-decoration: none;
                        @include font-size(0.875rem);
                        font-weight: 700;
                    }
                }
                &-price {
                    @include font-size(0.875rem);
                }
                &-quantity {
                    .qty {
                        width: 7.5rem;
                        border: 2px solid $light-gray-700;
                        background-color: $white;
                        padding: 0.3125rem;
                        height: 3.4375rem;
                        text-align: center;
                    }
                }
            }

            .update-cart {
                float: right;
                .btn {
                    letter-spacing: 0;
                    &[disabled]:hover {
                        background-color: $black;
                        color: $white;
                    }
                }
            }
            .coupon {
                float: left;
                margin-left: 40px;
                .button {
                    font-weight: 600;
                    font-size: 13px;
                    white-space: initial;
                    -webkit-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                    border: 2px solid currentColor;
                    letter-spacing: 1px;
                    background-color: transparent;
                    padding: 0.5rem 1.125rem;
                    font-size: 12px;
                    line-height: 1.5;
                    border-radius: 0;
                    color: $primary;
                    &:hover {
                        color: $black;
                        border-color: $black;
                    }
                }
            }
            .input-text {
                width: 12.5rem;
                float: left;
                display: block;
                height: 2.375rem;
                padding: 0.4375rem 0.875rem;
                @include font-size(0.875rem);
                line-height: 1.6;
                color: $gray-50;
                background-color: $gray-200;
                background-image: none;
                border: 2px solid $light-gray-600;
                border-radius: 0;
                box-shadow: none;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                margin: 0 4px 0 0;
                &:focus {
                    outline: none;
                }
            }
        }
        &-collaterals {
            border-collapse: separate;
            margin: 0 0 6px;
            padding: 0;
            @include media-breakpoint-up(sm) {
                display: flex;
                justify-content: flex-end;
            }
        }
        &-totals {
            background-color: $light-gray-500;
            padding: 1.875rem 1.25rem;
            @include media-breakpoint-up(md) {
                padding: 3.125rem 1.875rem;
            }
            @include media-breakpoint-up(xl) {
                padding: 4.375rem 3.125rem;
            }
            h2 {
                @include font-size(1.5rem);
                font-weight: 700;
                font-family: $font-open-sans;
                text-transform: uppercase;
                color: $black;
                margin-top: 0;
            }
            .shop-table {
                width: 100%;
                border: 0;
                border-radius: 0;
                td {
                    text-align: right;
                }
                th {
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 35%;
                    padding: 0.625rem;
                }
            }
            table {
                border-collapse: separate;
                margin: 0 0 6px;
                padding: 0;
            }
            tr {
                td,
                th {
                    border-top: 1px solid $light-gray-400;
                    vertical-align: top;
                    border-left: 0;
                    border-right: 0;
                    line-height: 1.5;
                }
                .cart-subtotal {
                    td,
                    th {
                        border-top: none;
                    }
                }
            }
            .proceed-to-checkout {
                padding: 0.875rem 0;
                .btn {
                    background-color: $black;
                    width: 100%;
                    color: $white;
                    text-transform: uppercase;
                    line-height: 1;
                    text-align: center;
                    padding: 0.75rem;
                    @include font-size(0.875rem);
                    @include media-breakpoint-up(md) {
                        @include font-size(1rem);
                        padding: 0.9375rem;
                    }
                    @include media-breakpoint-up(xl) {
                        @include font-size(1.125rem);
                        padding: 1.125rem;
                    }

                    &:hover {
                        background-color: $gray-900;
                    }
                }
            }
        }
    }
}
