// Mixins
@mixin font-builder(
	$ss-font-family,
	$ss-font-size,
	$ss-font-weight,
	$ss-line-height
) {
	font-family: $ss-font-family;
	font-size: $ss-font-size;
	font-weight: $ss-font-weight;
	line-height: $ss-line-height;
}

@mixin positionAbs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin objCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: "object-fit: cover;";
}
